{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>ADD STUDENT</title>
    {% endblock %}

</head>
 {% block content  %}
<body>
    <div class="container mt-5" class="bg-light" >
    <form method="post">
        <h1>Student Addmission form</h1>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary mb-5 ">Save</button>
        <button type="reset" class="btn btn-warning mb-5">Reset</button>

    </form>
    </div>
   
 {% endblock %}
</html>